@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
blockquote {border-left: none !important; text-align: center;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #151949; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

.background-snowwhite { background: #EBF1F3; }
.profileContainer { max-width: 1280px; padding: 40px 180px; }
hr { margin: 40px 0px; border-color: #58637d; opacity: 0.2; filter:alpha(opacity=20); }

p.lead { text-align: center; color: #58637d; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }


.btn-primary {border-color: #326FBA; }
.btn-primary:hover {border-color: #326FBA; }

.profileImage {border-radius: 50%; border: 3px solid #6C6F7C;}
#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }

@media (max-width: 767px) { 
	.profileContainer { padding: 60px 20px; min-width: 280px; }
	#profile .row * { text-align: center; }
}  