blockquote {border-left: none !important; text-align: center;}
.profileImage {width: 250px; height: 250px; border-radius: 50%; border: 3px solid #6C6F7C;}

#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }
.background-snowwhite { background: #EBF1F3; }
.container { max-width: 1280px; padding: 40px 180px; }
hr { margin: 40px 0px; border-color: #58637d; opacity: 0.2; filter:alpha(opacity=20); }

p.lead { text-align: center; color: #58637d; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }