@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
blockquote {border-left: none !important; text-align: center;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #151949; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

.background-snowblue { background: #DAE6F1; }
.experiencesContainer { max-width: 1280px; padding: 40px 180px; }
hr { margin: 40px 0px; border-color: #58637d; opacity: 0.2; filter:alpha(opacity=20); }

p.lead { text-align: center; color: #58637d; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }

#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #151949; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }

@media (max-width: 767px) { 
	.experiencesContainer { padding: 60px 20px; min-width: 280px; }
	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }
}